body{
    text-align:center;
    background:linear-gradient(rgb(0, 181, 236) 0%, blue 100%);
}
h3{
    color:aliceblue;
}
#submitbutton{
    margin-top:20px;
    margin-bottom:20px;
    background:aqua;
}
#sortbutton{
    display:none;
    margin-top:20px;
    margin-bottom: 20 px;
    background:rgb(255, 0, 200);
}
input{
    margin:10px;
    background-color:rgb(255, 0, 200);
}
#displaylabel1{
width:60%;
background:linear-gradient(rgb(1, 190, 1) 5% , green 100%);
padding:10px;
}

#displaylabel2{
    width:60%;
    background:linear-gradient(rgb(255, 5, 143) 5%, red 100%);
    padding:10px;
}

